# Python cache
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
.venv/
venv/
env/

# Environment variables
.env
.env.*

# IDE/editor files
.vscode/
.idea/

# Jupyter Notebook
.ipynb_checkpoints/

# OS files
.DS_Store
Thumbs.db

# Build/package files
build/
dist/
*.egg-info/

# Logs
*.log

# Excel temporary files
~$*.xlsx